@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  html {
    font-family: "Poppins", sans-serif;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .shadow-right {
    box-shadow: 10px 0 10px -5px rgba(211, 211, 211, 0);
  }
}
